@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0.8rem;
} */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2e2f2f;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border: 1px solid #755fa5; */

  background: #e5e5e5;
  border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #454545;
} */
