@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0.8rem;
} */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #493d63;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border: 1px solid #755fa5; */

  background: #918aa0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
