@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 0.8rem;
} */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #86c232;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #3e571a;

  background: #222629;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
